<!DOCTYPE html>
<html lang="en">
  <title>Handwriting</title>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="TemplateData/game.css"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <script src="TemplateData/UnityProgress.js"></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body class="">
    <noscript>
      <strong>Explore islands and be captivated by animated letter stories to boost your handwriting skills!</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
