<template>
  <div>
    <div class="row">
      <div align="center" class="unity-container col-xs-12 col-sm-12 col-md-12">
      <unity
        src= "/Build/public.json?v=2.1"
        width="1000"
        height="600"
        unityLoader="/Build/UnityLoader.js?v=2.1"
        ref="myInstance"
      /> 
    <!--    <unity
          src= "/Build/public.json"
          unityLoader= "/Build/UnityLoader.js"
          ref="myInstance"
        />  -->

        <span class="f-span q-mt-md">
          Tap screen to set fullscreen 
        </span>
      </div>

      <q-inner-loading style="z-index:1000" :showing="isLoading">
        <q-spinner size="50px" color="white" />

        <div class="text-white q-mt-lg">
          Loading the game please wait ...
        </div>
      </q-inner-loading>

      <db-handler ref="dataBase" v-bind:userId="uid" v-bind:userPlan="$parent.userPlan" v-bind:userType="$route.params.userType"/>
      <microphone-handler ref="micHandler"/>
    </div>
  </div>
</template>
<script>
import Unity from "vue-unity-webgl";
import DbHandler from '../components/DbHandler.vue';
import MicrophoneHandler from '../components/MicrophoneHandler.vue';

export default {
  props: ["uid"],
  name: "game",
  components: {
    Unity,
    DbHandler,
    MicrophoneHandler,
  },
  data () {
    return {
      userId: "",
      userPlan: 8412,
      loading: true,
      player: {
        uid: '',
        userType: '',
      }
    }
  },
  computed: {
    isLoading () {
      return this.loading;
    }
  },
  mounted () {
    window.gameRef = this;

    this.loading = true;

    this.userPlan = this.$parent.userPlan;
    console.log("User plan: " + this.userPlan);
    console.log(this.$route.params.userType);
    console.log("User type: " + this.$route.params.userType);

    this.userId = this.uid;
    this.player.uid = this.uid;
  },
  methods: {
    quitInstance () {
      this.$refs.myInstance.gameInstance.Quit();
    },
    sendMessage (myFunction, strParams) {
      this.loading = false
      this.$refs.myInstance.gameInstance.SendMessage('WebGLData', myFunction, strParams);
    },
    changeRecordingState (gameObject, myFunction) {
      this.$refs.myInstance.gameInstance.SendMessage(gameObject, myFunction);
    },
    showMicrophoneErrorPopup () {
      this.$refs.myInstance.gameInstance.SendMessage("GameConsole", "ShowMicErrorPopup");
    },
  },
  beforeRouteLeave (to, from, next) {
    if(to != false)
    {
      this.quitInstance();
      next();
    }
  }
};
</script>

<style lang="scss" scoped>
  .unity-container {
    width: 1000;
    height: 600;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 5%;
    z-index: 900;
  }

  .f-span {
    font-size: 25px;
    font-weight: bold;
    font-family: Quicksand;
  }
</style>