<template>
  <div class="q-pa-md">      
    <q-card square class="q-pa-md">
      <q-table
        class="my-sticky-header-table"
        title="Students"
        :data="students"
        :columns="columns"
        row-key="name"
        :filter="filter"
        :loading="isProcessing"
      >
        <template v-slot:loading>
          <q-inner-loading style="z-index:100;" :showing="isProcessing">
            <q-spinner size="50px" style="color:#38b6ff;"/>

            <div class="loading q-mt-lg">
              Loading please wait ...
            </div>
          </q-inner-loading>
        </template>

        <template v-slot:top-right>
          <q-input outlined dense v-model="filter" label="Search">
            <template v-slot:append>
              <i class="fas fa-search"/>
            </template>
          </q-input>
        </template>

        <template v-slot:body-cell="props">
          <q-td :props="props">
            <div v-if="props.col.name == 'hand'">
              <q-select 
                outlined 
                v-model="students[props.rowIndex][props.col.field]" 
                :options="[
                  { label: 'Right', value: 0 }, 
                  { label: 'Left', value: 1 }
                ]" 
                emit-value
                map-options
                dense
                @input="updateStudent(props.row)"
              />
            </div>

            <div v-else-if="props.col.name == 'progression'">
              <q-select 
                outlined 
                v-model="students[props.rowIndex][props.col.field]" 
                :options="[
                  { label: 'HH Progression', value: 0 }, 
                  { label: 'Random', value: 1 }
                ]" 
                emit-value
                map-options
                dense
                @input="updateStudent(props.row)"
              />
            </div>

            <div v-else-if="props.col.checkbox">
              <q-checkbox 
                v-model="students[props.rowIndex][props.col.field]" 
                :true-value="true" 
                :false-value="false"
                @input="updateStudent(props.row)"
              />
            </div>

            <div v-else>
              {{ props.value }}
            </div>
          </q-td>
        </template>

        <template v-slot:body-cell-actions="props">
          <q-td :props="props">
            <q-btn label="Edit" color="primary" @click="$root.displayStudentsDetails(props.row);"/>
          </q-td>
        </template>
      </q-table>
    </q-card>
  </div>
</template>

<script>
import * as firebase from "firebase/app";
import "firebase/database";
import "firebase/auth";

export default {
  data () {
    return {
      isProcessing: false,
      students: [],
      studentsData: {
        name: "",
        lastName: "",
        email: "",
        hand: 0,
        progression: 0,
        skydivers: true,
        bouncers: true,
        cannonPops: true,
        skiers: true,
        surfers: true,
        uid: "",
        teacherId: "",
        inactive: false,
      },
      filter: '',
      columns: [
        {
          name: 'name',
          label: 'Name',
          align: 'left',
          field: row => row.name + ' ' + row.lastName,
          sortable: true
        },
        {
          name: 'email',
          label: 'Email',
          align: 'left',
          field: 'email',
          sortable: true
        },
        {
          name: 'hand',
          label: 'Hand',
          align: 'left',
          field: 'hand',
          sortable: true,
        },
        {
          name: 'progression',
          label: 'Progression',
          align: 'left',
          field: 'progression',
          sortable: true,
        },
        {
          name: 'skydivers',
          label: 'Skydivers',
          align: 'left',
          field: 'skydivers',
          sortable: true,
          checkbox: true,
        },
        {
          name: 'bouncers',
          label: 'Bouncers',
          align: 'left',
          field: 'bouncers',
          sortable: true,
          checkbox: true,
        },
        {
          name: 'cannonPops',
          label: 'Cannon Pops',
          align: 'left',
          field: 'cannonPops',
          sortable: true,
          checkbox: true,
        },
        {
          name: 'skiers',
          label: 'Skiers',
          align: 'left',
          field: 'skiers',
          sortable: true,
          checkbox: true,
        },
        {
          name: 'surfers',
          label: 'Surfers',
          align: 'left',
          field: 'surfers',
          sortable: true,
          checkbox: true,
        },
        {
          name: 'actions',
          label: '',
          align: 'left',
          field: 'actions',
        }
      ]
    }
  },
  mounted () {
    this.addInactiveStudents();

    var studentsRegisteredRef = firebase.default
      .database()
      .ref(
        "/teachers/" + firebase.default.auth().currentUser.uid + "/students"
      );
      
    this.isProcessing = true 
    studentsRegisteredRef.once("value").then((childSnapshot) => {
      childSnapshot.forEach((student) => {
        var studentId = student.val();
        let studentDataProto = this.studentsData;

        //profile
        var studentsProfileRef = firebase.default
          .database()
          .ref("/students/" + studentId);
            studentsProfileRef.once("value").then((childSnapshot) => {
            studentDataProto.name = childSnapshot.child("name").val();
            studentDataProto.lastName = childSnapshot.child("lastName").val();
            studentDataProto.email = childSnapshot.child("email").val();
            studentDataProto.uid = studentId;
            });
          //settings
          var studentsSettingsRef = firebase.default
            .database()
            .ref("/settings/" + studentId);
          studentsSettingsRef.once("value").then((childSnapshot) => {

            studentDataProto.hand = childSnapshot.child("userHand").val();
            studentDataProto.progression = childSnapshot
              .child("userProgressionMode")
              .val();
            studentDataProto.skydivers = childSnapshot.child("skydivers").val();
            studentDataProto.bouncers = childSnapshot.child("bouncers").val();
            studentDataProto.cannonPops = childSnapshot
              .child("cannonPops")
              .val();
            studentDataProto.skiers = childSnapshot.child("skiers").val();
            studentDataProto.surfers = childSnapshot.child("surfers").val();
            studentDataProto.teacherId = childSnapshot.child("teacherId").val();
            if(studentDataProto.teacherId == null){
              firebase.default.database().ref("/students/" + studentDataProto.uid + "/teacherId").set(firebase.default.auth().currentUser.uid);
            }

              var newStudent = {name: studentDataProto.name, lastName: studentDataProto.lastName, email: studentDataProto.email, hand: studentDataProto.hand, progression: studentDataProto.progression, skydivers: studentDataProto.skydivers, bouncers: studentDataProto.bouncers, cannonPops: studentDataProto.cannonPops, skiers: studentDataProto.skiers, surfers: studentDataProto.surfers, uid: studentDataProto.uid, teacherId: studentDataProto.teacherId};
          //  var newStudent = JSON.stringify(studentDataProto);
    
            this.students.push(newStudent);
          });
      });
      this.isProcessing = false
    });
  },
  methods: {
    updateStudent (student) {
      var settingsPath = "";
      if(student.inactive)
        settingsPath = "/tempSettings/";
      else
        settingsPath = "/settings/";
      
      var dbRef = firebase.default.database().ref(settingsPath + student.uid);

      var studentSettings = {
        userHand: parseInt(student.hand),
        userProgressionMode: parseInt(student.progression),
        skydivers: student.skydivers,
        bouncers: student.bouncers,
        cannonPops: student.cannonPops,
        skiers: student.skiers,
        surfers: student.surfers,
      };
      dbRef.set(studentSettings);
    },
    addInactiveStudents () {
      firebase.default.database().ref("/students_inactive/" + firebase.default.auth().currentUser.uid).once("value")
      .then((childSnapshot) => {
          childSnapshot.forEach((student) => {

            var inactiveStudent = {name: "", lastName: "", email: "",
        hand: 0,
        progression: 0,
        skydivers: true,
        bouncers: true,
        cannonPops: true,
        skiers: true,
        surfers: true,
        uid: "",
        teacherId: "",
        inactive: true,
        };
            console.log("adding inactive student:" + student.child("name").val());
            inactiveStudent.name = student.child("name").val();
            inactiveStudent.lastName = student.child("lastName").val();
            inactiveStudent.email = student.child("email").val();
            inactiveStudent.uid = student.key;
            console.log(inactiveStudent);

            var studentsSettingsRef = firebase.default
            .database()
            .ref("/tempSettings/" + student.key);
            studentsSettingsRef.once("value").then((settingsSnapshot) => {
              inactiveStudent.hand = settingsSnapshot.child("userHand").val();
              inactiveStudent.progression = settingsSnapshot
              .child("userProgressionMode")
              .val();

              inactiveStudent.skydivers = settingsSnapshot.child("skydivers").val();
              inactiveStudent.bouncers = settingsSnapshot.child("bouncers").val();
              inactiveStudent.cannonPops = settingsSnapshot
              .child("cannonPops")
              .val();

              inactiveStudent.skiers = settingsSnapshot.child("skiers").val();
              inactiveStudent.surfers = settingsSnapshot.child("surfers").val();
              inactiveStudent.teacherId = settingsSnapshot.child("teacherId").val();

              console.log(inactiveStudent);
              this.students.push(inactiveStudent);
        })
      })
      })
    },
    showModal (mode, data) {
      this.$refs.form.showModal(mode, data)
    }
  }
}
</script>

<style lang="scss">
  .my-sticky-header-table {
    font-family: Quicksand;
    font-weight: bold;
    height: auto;
    max-height: 500px;

    .q-table__top,
    .q-table__bottom,
    thead tr:first-child th {
      background-color: white;
    }

    thead tr th {
      position: sticky;
      z-index: 1;

      font-size: 15px;
      background-color: #7bcdfd !important;
      font-weight: bold;
    }

    thead tr:first-child th {
      top: 0;
    }

    &.q-table--loading thead tr:last-child th {
      top: 48px
    }

    tr:nth-child(odd) {
        background-color: rgb(229, 252, 253);
    }

    .q-table__title {
      font-family: Quicksand !important;
      font-weight: bold !important;
    }

    .loading {
      color: #38b6ff;
      font-weight: bold;
      font-family: Quicksand;
    }
  }
</style>