<template>
  <div class="row">
    <div class="container col-xs-12" align="center">
      <q-card class="shadow-20 q-pa-md" square style="width:450px; max-width:100%">
        <q-card-section class="row q-pb-none">
          <div class="row">
            <img class="full-width" src="../assets/img/HHonlinelogo.png" />
          </div>
        </q-card-section>

        <q-card-section class="row q-pt-none">
          <div class="col-xs-12 col-sm-12 col-md-12" style="padding-bottom: 15px;" v-if="$root.error != ''">
            <span class="error">
              Error: {{$root.error}}
            </span>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 form-title">
            <span>        
              Student Log in
            </span>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 separator q-pb-md">
            Log in with:
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12" align="center">
            <div class="google-btn" @click="pressed">
              <div class="google-icon-wrapper">
                <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
              </div>
              
              <p class="btn-text">
                <b>Google</b>
              </p>
            </div>
          </div>

          <a class="clever-btn" href="https://clever.com/oauth/authorize?response_type=code&redirect_uri=https://handwritingheroes.org/clever&client_id=b9f8578614eb76adcc07">
              <img src="../assets/img/clever-login-btn.png"/>
            </a>

          <div class="col-xs-12 col-sm-12 col-md-12 separator">
            Or Log in with Email:
          </div>
        </q-card-section> 

        <q-card-section class="row q-col-gutter-md">
          <q-input 
            ref="email"
            class="input col-xs-12 col-sm-12 col-md-12" 
            label="Email" 
            v-model="email" 
            outlined 
            required 
            clearable 
            dense
            :rules="[val => !!val || 'Field is required', isValidEmail]"
            @keypress.native.enter="checkRegisteredStudent()"
          />

          <q-input 
            ref="password"
            class="input col-xs-12 col-sm-12 col-md-12 "
            label="Password"
            type="text"
            v-model="password" 
            required 
            outlined 
            dense
            clearable
            @keypress.native.enter="checkRegisteredStudent()"
            :rules="[val => !!val || 'Field is required']"
          >
          </q-input>

          <div class="col-xs-12 col-sm-12 col-md-12">
            <q-btn 
              size="lg"
              no-caps
              class="full-width text-weight-bold text-white"
              style="font-family:Quicksand; background-color:rgb(227, 57, 0);" 
              label="Log In" 
              @click="checkRegisteredStudent()"
            />
          </div>
        </q-card-section>

        <q-card-section class="q-pa-none">
          <div class="row link-container">
            <router-link to="/passwordReset" class="col-xs-12 col-sm-12 col-md-6 link">
              Forgot your password?
            </router-link>
          </div>
        </q-card-section>

        <q-inner-loading :showing="$root.signingIn">
          <q-spinner size="50px" style="color:rgb(247, 102, 1);"/>

          <div class="loading q-mt-lg">
            Loading please wait ...
          </div>
        </q-inner-loading>
    </q-card> 
    </div>
  </div>
</template>

<script>
import * as firebase from "firebase/app";
import "firebase/auth";
import "firebase/database";
import axios from "axios";

export default {
  data() {
    return {
      firebaseApp: undefined,
      isPwd: true,
      email: "",
      password: "",
      error: "",
      student: {
        email: "",
        name: "",
        lastName: "",
        teacherId: "",
        uid: "",
      },
    };
  },
  mounted () {
    this.firebaseApp = firebase.default.app("secondaryFirebaseApp");
  },
  methods: {
    isValidEmail () {
      const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
      return emailPattern.test(this.email) || 'Email is Invalid';
    },
    async pressed () {
      this.$root.error = "";
      try {
        this.$root.signingIn = true;
        const provider = new firebase.default.auth.GoogleAuthProvider();
        this.firebaseApp
          .auth()
          .signInWithPopup(provider)
          .then((result) => {
            console.log(result.user.email);
            axios.get('https://handwritingheroes.org/wp-json/hh_app/v1/user_data_api/', {
                params: {
                action: "get",
                userid: result.user.email,
                }
                })
                .then((response)=>{
                  this.$root.userPlan = response.data["plan_id"];
                  console.log("Plan: " + this.$root.userPlan);
                  if(this.$root.userPlan == undefined){
                    console.log("Subscription not found");
                    this.$root.error = "You are not subscribed to the program";

                    this.firebaseApp.auth().signOut().then(() => {
                      this.$root.signingIn = false;
                    });
                    return;
                  }
                  else{
                    this.$root.setUserLogged(result.user);
                    var name = this.firebaseApp.auth().currentUser.displayName;
                    this.$root.displayName = name.substr(0, name.indexOf(" "));
                    this.firebaseApp.database().ref("/teachers/" + result.user.uid + "/email/").set(result.user.email);
                  }
                })
                .catch(function(error){
                  this.$root.error = error;
                  this.$root.signingIn = false;
                });
          })
          .catch((err) => {
            this.$root.signingIn = false;
            console.log(err);
          });
      } catch (err) {
        this.$root.signingIn = false;
        console.log(err);
      }
    },
    firebaseLogin(){
        this.firebaseApp
        .auth()
        .signInWithEmailAndPassword(this.email.toLowerCase(), this.password)
        .then((result) => {
          console.log('Result', result);
          var dbRef = this.firebaseApp.database().ref("/teachers/" + this.$root.student.teacherId);
          dbRef.once("value").then((childSnapshot) => {
            //failsafe
              if (childSnapshot.val() == null) {
                this.firebaseApp.database().ref("/teachers/" + result.user.uid + "/email/").set(result.user.email);
              }

              this.$root.setUserLogged(result.user);

              //Check for teachers plan
              axios.get('https://handwritingheroes.org/wp-json/hh_app/v1/user_data_api/', {
                params: {
                action: "get",
                userid: childSnapshot.child("email").val(),
                }
              })
              .then((response)=>{
              this.$root.userPlan = response.data["plan_id"];
          })
          .catch(function(error){
            this.$root.error = error;
            this.$root.signingIn = false;
          });
            }).catch((error) => {
              this.firebaseApp.auth().signOut();
              this.$root.error = error;
              this.$root.signingIn = false;
            });
          })
          .catch((err) => {
            if(err.code == "auth/wrong-password"){
              this.$root.signingIn = false;
              this.$root.error = "Invalid password";
            }
            else if(err.code == "auth/user-not-found"){
                this.firebaseApp.auth().createUserWithEmailAndPassword(this.email.toLowerCase(), this.password)
                .then((result) => {
                  this.passLogin(result.user);
                })
            }
            else{
              this.firebaseApp.auth().signOut();
              this.$root.signingIn = false;
              this.$root.error = err.message;
            }
          });
    },
  async checkRegisteredStudent(){
      this.$root.signingIn =  true;
      var studentsDBRef = this.firebaseApp
      .database()
      .ref("/students");

      studentsDBRef.once("value").then((snapshot)=> {
        var studentsCount = snapshot.numChildren();
        console.log('Student Count', studentsCount);
        var iterationCount = 1;
        var userFound = false;
        snapshot.forEach((childSnapshot) =>{
          
          //console.log('This email', this.email.toLowerCase());
          if(childSnapshot.child("email").val().toLowerCase() == this.email.toLowerCase()){
            userFound = true;
            this.$root.student.email = childSnapshot.child("email").val();
            this.$root.student.name = childSnapshot.child("name").val();
            this.$root.student.lastName = childSnapshot.child("lastName").val();
            this.$root.student.teacherId = childSnapshot.child("teacherId").val();
            this.$root.displayName = childSnapshot.child("name").val();
            console.log("User found " + childSnapshot.child("teacherId").val());
            this.firebaseLogin();
            return;
          }
          if(iterationCount == studentsCount && !userFound){
            this.$root.signingIn =  false;
            this.$root.error = "Student account not found";
          }
          iterationCount++;
        })
      });
    },
    pressedSignUp() {
      this.$router.replace({name: "signUp"});
    },
    passLogin(user){
      var dbRef = this.firebaseApp.database().ref("/teachers/" + user.uid);
          dbRef.once("value").then((childSnapshot) => {
              if (childSnapshot.val() == null) {
                this.firebaseApp.database().ref("/teachers/" + user.uid + "/email/").set(user.email);
              }
              this.$root.setUserLogged(user);
          });
    }
  },
}
</script>

<style scoped lang="scss">
  .container {
    padding-top: 2%;

    .logo {
      margin: 25px;
      width: 250px;
    }

    .google-btn {
      width: 184px;
      height: 42px;
      background-color: #4285f4;
      border-radius: 2px;
      box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
      cursor: pointer;

      .google-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        background-color: #fff;
      }
      .google-icon {
        padding-top: 8px;
        width: 25px;
        height: 25px;
      }
      .btn-text {
        padding-top: 10px;
        padding-left: 30px;
        color: #fff;
        font-size: 18px;
        letter-spacing: 0.2px;
        font-family: "Arial";
      }
    }

    .form-title {
      font-size: 25px;
      font-family: Quicksand;
      font-weight: bold;
    }

    .separator {
      padding-top: 20px;
      display: flex;
      align-items: center;
      text-align: center;
      font-family: Quicksand;
    }

    .separator::before,
    .separator::after {
      content: '';
      flex: 2;
      border-bottom: 0.5px solid #000;
    }

    .separator:not(:empty)::before {
      margin-right: .25em;
    }

    .separator:not(:empty)::after {
      margin-left: .25em;
    }

    .input {
      font-family: Quicksand;
      font-weight: bold;
    }
  }

  .link-container {
    padding-top: 15px;

    .link { 
      color: rgb(247, 102, 1); 
      font-family: Quicksand; 
      font-weight: 700;
    }
  }
  
  .error {
    font-family: Quicksand;
    font-weight: bold;
    color: red;
  }

  .loading {
    color: rgb(247, 102, 1);
    font-weight: bold;
    font-family: Quicksand;
  }

  .clever-btn{
    display:block;
    margin:auto;
    margin-top: 18px;
  }

  .clever-btn img{
    width: 183px;
  }
</style>