<template>
  <div class="row">
    <div class="container col-xs-12" align="center">
      <q-card class="shadow-20 q-pa-md" square style="width:450px; max-width:100%">
        <router-link style="font-family:Quicksand; color:black;" class="float-left" to="/login">
          Back
        </router-link>

        <q-card-section class="row q-pb-none">
          <div class="row">
            <img class="full-width" src="../assets/img/HHonlinelogo.png" />
          </div>
        </q-card-section>

        <q-card-section class="row q-pt-none">
          <div class="col-xs-12 col-sm-12 col-md-12" style="padding-bottom: 15px;" v-if="$root.error != ''">
            <span class="error">
              Error: {{$root.error}}
            </span>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 form-title">
            <span>        
              Password Reset
            </span>
            <div class="success" v-show="success">Email sent, check your inbox and follow the link, remember to check the spam folder.</div>
            <div class="error" v-show="error">{{ error }}</div>
          </div>
        </q-card-section>

        <q-card-section class="row q-col-gutter-md">
          <q-input 
            ref="email"
            class="input col-xs-12 col-sm-12 col-md-12" 
            label="Email" 
            v-model="email" 
            outlined 
            required 
            clearable 
            dense
            :rules="[val => !!val || 'Field is required', isValidEmail]"
            @keypress.native.enter="pressed()"
          />

          <div class="col-xs-12 col-sm-12 col-md-12">
            <q-btn 
              size="lg"
              no-caps
              class="full-width text-weight-bold text-white"
              style="font-family:Quicksand; background-color:rgb(227, 57, 0);" 
              label="Continue" 
              @click="pressed()"
            />
          </div>
        </q-card-section>

        <q-inner-loading :showing="isProcessing">
          <q-spinner size="50px" style="color:rgb(247, 102, 1);"/>

          <div class="loading q-mt-lg">
            Loading please wait ...
          </div>
        </q-inner-loading>
      </q-card> 
    </div>
  </div>
</template>

<script>
import * as firebase from "firebase/app";
import "firebase/auth";
import "firebase/database";
import axios from "axios";

export default {
  data() {
    return {
      isProcessing: false,
      email: "",
      message: "",
      success: false,
      error: "",
    };
  },
  mounted () {
    this.firebaseApp = firebase.default.app("secondaryFirebaseApp");
  },
  methods: {
    pressed () {
      if (!this.$refs.email.hasError && this.email != '') {
        let endPointUrl = 'https://handwritingheroes.org/wp-json/firebase-tools/v1/send-password/';
        let data = {
          email: this.email
        };

        axios.post(endPointUrl, data)
          .then(response => {
            if ( response.data.success === true) {
              this.error = "";
              this.success = true;
              this.message = "The password has been sent to your inbox";
            } else {
                this.firebaseApp.auth().sendPasswordResetEmail(this.email)
                  .then(() => {
                    this.error = "";
                    this.success = true;
                    this.message = "Email sent, check your inbox and follow the link, remember to check the spam folder.";
                  })
                  .catch((error) => {
                    this.error = error.message;
                  });
            }
          });
      }
    },
    isValidEmail () {
      const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
      return emailPattern.test(this.email) || 'Email is Invalid';
    },
  }
}
</script>

<style scoped lang="scss">
  .container {
    padding-top: 8%;

    .logo {
      margin: 25px;
      width: 250px;
    }

    .google-btn {
      width: 184px;
      height: 42px;
      background-color: #4285f4;
      border-radius: 2px;
      box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
      cursor: pointer;

      .google-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        background-color: #fff;
      }
      .google-icon {
        padding-top: 8px;
        width: 25px;
        height: 25px;
      }
      .btn-text {
        padding-top: 10px;
        padding-left: 30px;
        color: #fff;
        font-size: 18px;
        letter-spacing: 0.2px;
        font-family: "Arial";
      }
    }

    .form-title {
      font-size: 25px;
      font-family: Quicksand;
      font-weight: bold;
    }

    .separator {
      padding-top: 20px;
      display: flex;
      align-items: center;
      text-align: center;
      font-family: Quicksand;
    }

    .separator::before,
    .separator::after {
      content: '';
      flex: 2;
      border-bottom: 0.5px solid #000;
    }

    .separator:not(:empty)::before {
      margin-right: .25em;
    }

    .separator:not(:empty)::after {
      margin-left: .25em;
    }

    .input {
      font-family: Quicksand;
      font-weight: bold;
    }
  }

  .link-container {
    padding-top: 15px;

    .link { 
      color: rgb(247, 102, 1); 
      font-family: Quicksand; 
      font-weight: 700;
    }
  }

  .success{
    color: green;
    font-size: 16px;
  }
  
  .error {
    font-family: Quicksand;
    font-weight: bold;
    color: red;
    font-size:16px;
  }

  .loading {
    color: rgb(247, 102, 1);
    font-weight: bold;
    font-family: Quicksand;
  }
</style>