<template>
  <div>
    <div v-if="folders.length == 0" class="container row q-col-gutter-md">
      <div class="col-xs-12 col-sm-12 col-md-12 q-mb-md">
        <div class="row">
          <div class="col-9"/>

          <q-input class="col-xs-12 col-sm-12 col-md-3" outlined dense v-model="search" label="Search">
            <template v-slot:append>
              <i class="fas fa-search"/>
            </template>
          </q-input>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-3" v-for="f in files" :key="f.vid">
        <q-card class="card cursor-pointer" square @click="showModal()">
          <q-video :class="f.restricted ? 'disabled no-pointer-events' : ''" :ratio="16/10" :src="'https://api.vadoo.tv/iframe_test?id=' + f.vid"/>
        </q-card>

        <div align="center" class="card-title">
          {{ f.title }}
        </div>
      </div>

      <div v-if="files.length == 0 && search != ''" class="col-xs-12 col-sm-12 col-md-12">
        <q-card class="bg-grey no-data">
          <q-card-section class="text-h2" align="center">
            No videos found
          </q-card-section>
        </q-card>
      </div>
    </div>

    <div v-else class="container row q-col-gutter-md">
      <div class="col-xs-12 col-sm-12 col-md-3" v-for="f in folders" :key="f.name" @click="$router.push('/videos/' + f.link)">
        <q-card class="cursor-pointer" square>
          <q-img style="height:215px;" :src="baseUrl + f.img">
            <div class="card-title absolute-bottom text-right">
              {{ f.name }}
            </div>
          </q-img>
        </q-card>
      </div>
    </div>

    <q-dialog v-model="isShowModal" persistent>
      <q-card square>
        <q-card-section class="row q-pb-none">
          <div class="text-h6 text-negative">
            Access Denied
          </div>
          
          <q-space />

          <q-btn icon="close" flat round dense @click="closeModal()" />
        </q-card-section>

        <q-card-section class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <img class="full-width" src="../assets/img/HHonlinelogo.png" />
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12" align="center">
            <a style="color:black; font-size:25px;" href="https://handwritingheroes.org/handwritingheroes-online/" target="_blank">
              Purchase a subscription to access.
            </a>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import VideosUrl from "../json/VideosUrl.json";

window.onclick = function(event) {
  if (event.target == document.getElementById("myModal")) {
    document.getElementById("myModal").style.display = "none";
  }
}

export default {
  props: ['folderName'],
  data () {
    return {
      search: '',
      baseUrl: '',
      isShowModal: false,
    }
  },
  components: {
  },
  mounted() {
    this.baseUrl = process.env.BASE_URL;
  },
  computed: {
    folders () {
      var arr = []

      if (this.folderName) {
        VideosUrl.datas.filter((v) => {
          if (v.link == this.folderName) {
            if (v.subFolder) {
              arr = v.subFolder
            }
          }
        })
      } else {
        arr = VideosUrl.datas
      }
      
      return arr
    },
    files () {
      var arr = []

      //Set Urls
      VideosUrl.datas.filter((v) => {
        if (v.link == this.folderName) {
          if (v.urls) {
            arr = v.urls;
          }
        }
      
        if (v.subFolder) {
          v.subFolder.filter((s) => {
            if (s.link == this.folderName) {
              arr = s.urls
            }
          })
        }
      })

      //Restrictions for Subscription
      if (this.$root.userPlan == 8412) {
        this.restrict(arr, this.folderName)
      }

      //Filter
      if (this.search !== '') {
        var searchVal = this.search.toLowerCase()
        arr = arr.filter((e) => e.title.toLowerCase().includes(searchVal))
      }

      return arr
    }
  },
  methods: {
    async restrict (arr, folderName) {
      if (folderName == "letter-groups" || folderName == "starting-points") {
        arr = arr.filter((e) => {
          if (e.title != "Skydivers") {
            e.restricted = true
          } else {
            e.restricted = false
          }

          return e
        })
      }

      if (folderName == "lowercase-letters" || folderName == "letter-songs") {
        var song = folderName == "lowercase-letters" ? "" : " song"

        var i = "i" + song
        var t = "t" + song
        var k = "k" + song
        var j = "j" + song

        arr = arr.filter((e) => {
          if (e.title != i && e.title != t && e.title != k && e.title != j) {
            e.restricted = true
          } else {
            e.restricted = false
          }

          return e
        })
      }

       if (folderName == "writing-lines") {
        arr = arr.filter((e) => {
          if (e.title !=  "b and d can't trick me" && e.title !=  "Sky grass and dirt letters") {
            e.restricted = true
          } else {
            e.restricted = false
          }

          return e
        })
      }

      if (folderName == "numbers" || folderName == "double-trouble" || folderName == "super-similar" || folderName == "dangerously-different") {
        arr = arr.filter((e) => {
          e.restricted = true
        })
      }
    },
    showModal () {
      this.isShowModal = true
    },
    closeModal () {
      this.isShowModal = false
    }
  }
}
</script>

<style lang="scss" scoped>
  .container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .card-title {
    font-family: Quicksand;
    font-size: 25px;
    font-weight: bold;
  }

  .restricted {
    pointer-events: none;
  }

  .logo {
    width: 450px;
  }

  .no-data {
    font-family: Quicksand;
    color: white;
  }
</style>
