<template>
    <div>
        <span v-if="loggedIn">yes</span>
        <span v-else>No</span>
        <div>
            <button @click="signOut">Sign out</button>
        </div>
    </div>
</template>
<script>
import * as firebase from "firebase/app";
import "firebase/auth"
    export default {
        created(){
            firebase.default.auth().onAuthStateChanged(function(user){
                console.log(user);
                this.loggedIn = !!user;
            })
        },
        data(){
            return{
                loggedIn: false
            }
        },
        methods: {
            async signOut(){
                try{
                    const data = await firebase.default.auth().signOut();
                    console.log(data);
                    this.$router.replace({name: "register"})
                }catch(err){
                    console.log(err)
                }
            }
        }
    }
</script>