<template>
    <div class="dashboard_content">
    </div>
</template>
<style lang="scss" scoped>
    .dashboard_content{
        position: fixed;
    //    z-index: 800;
        background-color: #ebe8e8;
        top: 0;
        left: 0;
        border-width: 0 0 0 0;
     //   padding-left: 100px;
        width: 100%;
        height: 100%
    }
</style>