<template>
    <div>
    </div>
</template>
<script>
import * as firebase from "firebase/app";
import "firebase/auth";
import "firebase/database";

export default {
    props: ['userId', 'userPlan', 'userType'],
    data() {
        return {
            firebaseApp: undefined,
            uid: firebase.default.app("secondaryFirebaseApp").auth().currentUser.uid,
            uType: '',
            loading : true,
            dataWrapper: {
                activitiesCompleted: [],
                userScores: [],
                plan: ''
            },
            activitiesCompleted: [],
            userScore: {
                bestBallsGame: 0,
                bestEvaluation: 0,
                bestTotalPoints: 0,
                lastBallsGame: 0,
                lastEvaluation: 0,
                lastTotalPoints: 0,
                letter: ''
            }
        }
    },
    mounted() {
        this.firebaseApp = firebase.default.app("secondaryFirebaseApp");
        this.loading = true;
        console.log("Props received: " + this.userPlan + " userId: " + this.userId + " User type: " + this.userType);
    },
    methods: {
        Store(str){
            var dbRef = this.firebaseApp.database().ref("/players/" + this.uid);
            var value = JSON.parse(str);
            console.log("Storing json data: " + value);
            dbRef.set(value);
        },
        StoreSettings(str){
            var dbRef = this.firebaseApp.database().ref("/settings/" + this.uid);
            var value = JSON.parse(str);
            console.log("Storing settings: " + value);
            dbRef.set(value);
        },
        Retrieve(){
            let activitiesArray = this.activitiesCompleted;
            let userArray = [];
            let wrapper = this.dataWrapper;
            let plan = this.userPlan;
            let userType = this.userType;
            //ref to players data
            console.log("Retrieving data of player: " + this.uid);
            var dbRef = this.firebaseApp.database().ref("/players/" + this.uid);

            //Fetch user progression data
            dbRef.once("value").then(function(snapshot){
                
                snapshot.forEach(function(childSnapshot){
                    var key = childSnapshot.key;
                    if(key == 'activitiesCompleted'){
                        activitiesArray = childSnapshot.val();
                    }
                    if(key == 'userScores'){
                        childSnapshot.forEach((child) => {
                            userArray.push(child.val());
                        })
                    }
                })

            wrapper.activitiesCompleted = activitiesArray;
            wrapper.userScores = userArray;
            wrapper.plan = plan;
            var jsonStr = JSON.stringify(wrapper);
            window.gameRef.sendMessage("SetPlayerData", jsonStr);
            window.gameRef.sendMessage("SetUserType", userType);
            if(plan != 8412)
                window.gameRef.sendMessage("SetSubscriptionPlan", 1)
            });

            //ref to player settings
            dbRef = this.firebaseApp.database().ref("/settings/" + this.uid);
            
            //Fetch user settings
            dbRef.once("value").then((snapshot) => {
                var jsonVal = snapshot.toJSON();
                var jsonStr = JSON.stringify(jsonVal);
                window.gameRef.sendMessage("SetPlayerSettings", jsonStr);
                
            })
            this.$parent.loading = false;
        },
    },
}
</script>