<template>
    <div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            mediaRecorder: undefined,
            audio: undefined,
            audioUrl: ''
        }
    },
    methods:{
        startMic(){
            navigator.mediaDevices.getUserMedia({ audio: true })
            .then(stream => {
            this.mediaRecorder = new MediaRecorder(stream);
            this.mediaRecorder.start();
            window.gameRef.changeRecordingState('GameConsole', 'ChangeRecordingState');
            const audioChunks = [];

            this.mediaRecorder.addEventListener("dataavailable", event => {
            audioChunks.push(event.data);

            this.mediaRecorder.addEventListener("stop", () => {
            const audioBlob = new Blob(audioChunks);
            this.audioUrl = URL.createObjectURL(audioBlob);
            console.log(this.audioUrl);
            });
            });
            }).catch(function(error){
                console.log("device not found" + error);
                window.gameRef.showMicrophoneErrorPopup();
            });
        },
        stopMic(){
            console.log("stopping microphone");
            this.mediaRecorder.stop();
            window.gameRef.changeRecordingState('GameConsole', 'ChangeRecordingState');
        },
        playAudio(){
            if(this.audio != undefined)
                this.audio.pause();
            this.audio = new Audio(this.audioUrl);
            this.audio.play();
        }
    }
}
</script>