<template>
  <q-drawer 
      v-bind="$attrs" 
      v-on="$listeners" 
      v-if="$root.userType == 'teacher'" 
      v-model="drawer" 
      :mini="miniState" 
      :width="300" 
      :breakpoint="500" 
      bordered
    >
    <q-scroll-area class="side-bar fit">
      <q-list class="q-mt-md">
        <template>
          <q-item clickable @click="routeHome()" v-ripple>
            <q-item-section avatar>
              <q-icon name="fas fa-chalkboard-teacher" />
            </q-item-section>

            <q-item-section>
              Home
            </q-item-section>
          </q-item>

          <q-item clickable @click="routeRegister()"  v-ripple>
            <q-item-section avatar>
              <q-icon name="fas fa-child" />
            </q-item-section>

            <q-item-section>
              Register Students
            </q-item-section>
          </q-item>

          <q-item clickable @click="routeGame()" v-ripple>
            <q-item-section avatar>
              <q-icon name="fas fa-gamepad" />
            </q-item-section>

            <q-item-section>
              Game
            </q-item-section>
          </q-item>

          <q-item v-if="$root.userType == 'teacher'" clickable  @click="routeVideos()"  v-ripple>
            <q-item-section avatar>
              <q-icon name="fas fa-video" />
            </q-item-section>

            <q-item-section>
              Videos
            </q-item-section>
          </q-item>

          <q-item clickable @click="routeTeacherResources()" v-ripple>
            <q-item-section avatar>
              <q-icon name="fas fa-folder" />
            </q-item-section>

            <q-item-section>
              Teacher Resources
            </q-item-section>
          </q-item>
        </template>
      </q-list>
    </q-scroll-area>
  </q-drawer>
</template>
<script>
export default {
  name: 'sidebar',
  data () {
    return {
      drawer: true,
      miniState: true,
    }
  },
  methods: {
    routeHome () {
      if (this.$router.name != "Home") {
        this.$router.replace({ name: "Home" });
      }
    },
    routeRegister () {
      this.$router.replace({ name: "register" });
    },
    routeGame () {
      this.$router.replace({ name: "game", params: {uid: this.$root.user.uid, userType: this.$root.userType } });
    },
    routeVideos () {
      this.$router.replace({ name: "videos" })
    },
    routeTeacherResources () {
      this.$router.replace({ name: 'teacher-resources'})
    },
    drawerState () {
      this.drawer = true
      this.miniState = !this.miniState
    }
  },
}
</script>

<style lang="scss" scoped>
  .side-bar {
    background-color:rgb(56, 182, 255);
    color: rgba(0, 0, 0, 0.6);
    font-family: Quicksand;
    font-weight: bolder;
    font-size: 20px;
  }

  .side-bar .q-item:hover {
    color: azure;
  }
</style>
