<template>
  <q-header v-if="$root.userType" v-bind="$attrs" v-on="$listeners" elevated class="nav-bar">
    <q-toolbar>
      <q-btn v-if="$root.userType == 'teacher'" class="drawer-btn" flat @click="$emit('drawer')" round dense icon="menu" />
      <img class="q-ml-md" width="40px;" src="../assets/img/logo.png">
      
      <q-toolbar-title>
      
      </q-toolbar-title>

      <q-btn-dropdown class="text-weight-bold" flat no-caps text-color="white" :label="$root.displayName != '' ? $root.displayName : 'User Account'">
        <q-list class="list" dense>
          <q-item clickable v-close-popup @click="$emit('logout')">
            <q-item-section avatar>
              <q-icon name="fas fa-sign-out-alt" />
            </q-item-section>

            <q-item-section>
              <q-item-label>
                Logout
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-btn-dropdown>
    </q-toolbar>
  </q-header>
</template>

<script>
export default {
  props: ['displayName'],
  data() {
    return {
    }
  },
  created () {
  }
}
</script>

<style lang="scss" scoped>
  .drawer-btn {
    color: rgba(0, 0, 0, 0.6);
  }
  
  .nav-bar {
    background-color:rgb(56, 182, 255);
    color: azure;
    font-family: Quicksand;
  }

  .list {
    font-family: Quicksand; 
    font-weight: bolder;
  }
</style>
