<template>
  <unity src="/Build/public.json?v=2.1" width="1000" height="600" unityLoader="/Build/UnityLoader.js?v=2.10"></unity>  
</template>
<script>
import Unity from 'vue-unity-webgl'

  new Vue({
    components: { Unity }
  })

export default {
    name: 'unity-instance'
}
</script>