<template>
  <div id="app">
    <q-layout class="shadow-2 rounded-borders" view="hHh Lpr lff">
      <top-bar @drawer="drawerState()" @logout="$root.logout()"/>

    <!--  <side-bar ref="sideBar"/> -->

      <q-page-container>
        <q-page :style="backColor" padding>
          <router-view></router-view>
        </q-page>
      </q-page-container>
    </q-layout>
  </div>
</template>

<script>
export default {
  components: {
    'top-bar': () => import('./components/TopBar.vue')
  },
  computed: {
    backColor () {
      var color = ''

      if (this.$route.path == '/login' || this.$route.path == '/passwordReset') {
        //color = 'background-color:rgb(56, 182, 255); background: linear-gradient(90deg, rgba(56, 182, 255, 1) 0%, rgba(127, 206, 252, 1) 35%,  rgba(185, 243, 255, 1) 100%)'
        color = 'background: rgb(208,179,18);background: linear-gradient(90deg, rgba(208,179,18,1) 0%, rgba(250,225,84,1) 35%, rgba(237,210,60,1) 100%)';
      } else {
        color = 'background-color: rgb(245, 243, 242);'
      }
      return color
    }
  },
  data () {
    return {
    }
  },
  mounted () {
  },
  methods: {
    drawerState () {
      this.$refs.sideBar.drawer = true
      this.$refs.sideBar.miniState = !this.$refs.sideBar.miniState
    },
  },
};
</script>

<style lang="scss" scoped>
  @import url('https://cdn.jsdelivr.net/npm/quasar@1.15.0/dist/quasar.min.css');
  @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp');
  @import url('https://cdn.jsdelivr.net/npm/@mdi/font@^5.0.0/css/materialdesignicons.min.css');
  @import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');

  .page {
    // background-color: rgb(245, 243, 242);
  }
</style>
